<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension point="org.eclipse.ui.editors">
    <editor
            id="typecobol.editors.eclipse.cobol.Editor"
            name="TypeCobol Editor"
            extensions="cbl, pgm, cpy, cpx"
            icon="icons/icon.png"
            class="typecobol.editors.eclipse.cobol.Editor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">
    </editor>
  </extension>

  <extension id="problem" point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <attribute name="data"/>
    <persistent value="true"/>
  </extension>
  
  <!--extension point="org.eclipse.ui.editors.annotationTypes">
    <type name="typecobol.editors.eclipse.error"
          super="org.eclipse.ui.workbench.texteditor.error"
          markerType="typecobol.editors.eclipse.problem"
          markerSeverity="2">
    </type>
    <type name="typecobol.editors.eclipse.warning"
          super="org.eclipse.ui.workbench.texteditor.warning"
          markerType="typecobol.editors.eclipse.problem"
          markerSeverity="1">
    </type>
    <type name="typecobol.editors.eclipse.info"
          super="org.eclipse.ui.workbench.texteditor.info"
          markerType="typecobol.editors.eclipse.problem"
          markerSeverity="0">
    </type>
  </extension-->

  <!--extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
    <specification
          annotationType="typecobol.editors.eclipse.problem"
          label="No description"
          contributesToHeader="true"
          symbolicIcon="error"/>
  </extension-->

</plugin>
