<!DOCTYPE html>
<html>
    <head>
        <style>
            pre {
                display: block;
                background: #D8D8D8;
                font-family: monospace;
                white-space: pre;
                border: 1px solid rgba(51,51,51,.1);
                padding: 10px;
                margin: 1em 0;
            }
        </style>
    </head>

    <body>
        <h2>Error occured in TypeCobol at {DateTime}</h2>  
   
        <div>
            User : {User} <br />
            Version : {TypeCobolVersion} <br />
            Source : {Source} <br />
        </div>

        <h3>Configuration</h3>
        <pre>{Config}</pre>

        <h3>Copies Dump</h3>
        <pre>{CopiesDump}</pre>

        <h3>Message</h3>
        <pre>{Message}</pre>

        <h3>Stack Trace</h3>
        <pre>{StackTrace}</pre>

        <strong style="color:red; margin-top:50px; display:block;">This message has been sent automatically. Please ignore it if you are not concerned.</strong>
    </body>
</html>
