<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime" version="4.5.3" targetFramework="net45" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="11.0.0" targetFramework="net45" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net45" />
</packages>