<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="TypeCobol code analysis" Description="Code analysis rules for TypeCobol." ToolsVersion="15.0">
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1046" Action="Error" />
    <Rule Id="CA2218" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS0108" Action="Error" />
    <Rule Id="CS0109" Action="Error" />
    <Rule Id="CS0114" Action="Error" />
    <Rule Id="CS0168" Action="Error" />
    <Rule Id="CS0183" Action="Error" />
    <Rule Id="CS0184" Action="Error" />
    <Rule Id="CS0472" Action="Error" />
    <Rule Id="CS0642" Action="Error" />
    <Rule Id="CS0659" Action="Error" />
    <Rule Id="CS0660" Action="Error" />
    <Rule Id="CS1058" Action="Error" />
    <Rule Id="CS1717" Action="Error" />
    <Rule Id="CS1718" Action="Error" />
  </Rules>
</RuleSet>