<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="TypeCobol code analysis" Description="Code analysis rules for TypeCobol." ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS0168" Action="Error" />
    <Rule Id="CS0472" Action="Error" />
    <Rule Id="CS0642" Action="Error" />
  </Rules>
</RuleSet>