<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SmtpServer" value="your.smtp.server" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpUseDefaultCredential" value="true" />

    <add key="MailReceiver" value="receiver@email.com" />
    <add key="MailSubject" value="TypeCobol Error" />

    <add key="TypeCobolVersion" value="0.1(alpha)" />
  </appSettings>

</configuration>